.clock
  .face
  .hour.hand
  .minute.hand
  .cover
  .second-bulb
  .second.hand
  .number 12
  .number 3
a.contrib(href="https://dribbble.com/shots/1059440-Clock" target="_blank") Based on design by Paco
a(href="http://nathan.tokyo" target="_blank").sig NATHAN.TOKYO