.content
  #okinawa.widget.clock(data-timezone="+9")
    .shadow
    .hand.seconds
    .hand.minutes
    .hand.hours
    .hand-cap
    label Okinawa
  #seattle.widget.clock(data-timezone="-8")
    .shadow
    .hand.seconds
    .hand.minutes
    .hand.hours
    .hand-cap
    label Seattle
  #amalfi.widget.clock(data-timezone="+1")
    .shadow
    .hand.seconds
    .hand.minutes
    .hand.hours
    .hand-cap
    label Amalfi